.navigation{
    background-color: #000033;
    margin: 0;
    height: 50px;
  }
  .nav{
    list-style-type: none;
    width:500px;
    float:left;
  }
  .link{
    text-decoration: none;
    float:left;
    padding-right:30px;
    color:white;
  }